################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API-Negocio/.vs/API-Negocio/v16
/API-Negocio/.vs/API-Negocio/DesignTimeBuild
/API-Negocio/.vs/API-Negocio/config
